## Kreato Linux kernel configuration
## Please make your changes to this file
## Heavily based off https://github.com/projg2/gentoo-kernel-config

## Don't have the required package for this, we also don't want debug stuff

CONFIG_DEBUG_INFO_BTF=n

## May cause issues with Virtualbox

CONFIG_DRM_VBOXVIDEO=n
CONFIG_VBOXGUEST=n
CONFIG_VBOXSF_FS=n

CONFIG_FB_EFI=y
CONFIG_FB_VESA=y

## Enable font stuff

CONFIG_FONTS=y
CONFIG_FONT_8x16=y
CONFIG_FONT_TER16x32=y

## We install headers in linux-headers, not this one

CONFIG_HEADERS_INSTALL=n

## Compress kernel with GZIP

CONFIG_KERNEL_GZIP=y

## Compress modules using xz

# CONFIG_MODULE_COMPRESS_NONE is not set
CONFIG_MODULE_COMPRESS_XZ=y

## disable signatures
# CONFIG_MODULE_SIG is not set
# CONFIG_SECURITY_LOCKDOWN_LSM is not set
# CONFIG_KEXEC_SIG is not set
# CONFIG_SYSTEM_EXTRA_CERTIFICATE is not set
# CONFIG_INTEGRITY_SIGNATURE is not set

## Disable features related to kernel debugging

# CONFIG_DEBUG_INFO is not set
# CONFIG_DEBUG_RODATA_TEST is not set
# CONFIG_DEBUG_VM is not set
# CONFIG_DEBUG_VM_PGTABLE is not set
# CONFIG_DEBUG_SHIRQ is not set
# CONFIG_DEBUG_LIST is not set
# CONFIG_BUG_ON_DATA_CORRUPTION is not set
# CONFIG_BOOTTIME_TRACING is not set
# CONFIG_RING_BUFFER_BENCHMARK is not set
# CONFIG_X86_DECODER_SELFTEST is not set
# CONFIG_KGDB is not set
# CONFIG_DEBUG_KERNEL is not set
